body{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    text-align: left;
}